
/*Colores primarios*/
/* 
gris oscuro #222222 #333333 #444444
gris claro #999999 #DDDDDD
verde claro #C8CC8E
vinotinto #742427
*/
/*Colores secundarios */
/* 
Azules #36C9C6 #00BDB9 #77ACA2
rojos #910D3F #C70039 #F94646
naranjas #D34E24 #F28123 #F7F052
*/

/* Funetes/*

/*
italic: font: italic 9pt "Ubuntu";
regular: font: 9pt "Ubuntu";
light: font: 300 9pt "Ubuntu";
medium: font: 500 9pt "Ubuntu";
bold: font: 700 9pt "Ubuntu";
*/

/****************************************************************************************************************************************************/









