contourpy==1.2.0
cycler==0.12.1
ezdxf==1.1.4
fonttools==4.47.0
gmsh==4.12.0
kiwisolver==1.4.5
llvmlite==0.41.1
markdown-it-py==3.0.0
matplotlib==3.8.2
mdurl==0.1.2
meshio==5.3.4
numba==0.58.1
numpy==1.26.2
packaging==23.2
Pillow==10.1.0
Pygments==2.17.2
pygmsh==7.1.17
pyparsing==3.1.1
PySide6==6.6.1
PySide6-Addons==6.6.1
PySide6-Essentials==6.6.1
python-dateutil==2.8.2
rich==13.7.0
shiboken6==6.6.1
six==1.16.0
typing_extensions==4.9.0
